.frameChild {
  width: 1171px;
  height: 1024px;
  position: relative;
  background-color: var(--fa-white);
  display: none;
  max-width: 100%;
}
.pageTitle {
  display: inline-block;
  min-width: 128px;
  font-size: 24px;
}
.breadTitle {
  font-size: 15px;
}
.pageTitle,
.breadTitle {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  z-index: 1;
}
.breadcrumb,
.header {
  display: flex;
  align-items: flex-start;
}
.breadcrumb {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--open-sans-semibold-16-size);
  color: var(--color-gray-700);
  font-family: var(--open-sans-semibold-14);
}
.AddButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs) 0 0;
  background-color: rgba(35, 35, 33, 1);
  height: 40px;
  width: 200px;
  border-radius: 10px;
  gap: 10px;
}
.Buttontitle {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.calendarIcon {
  /* color: white; */
}
.user,
.header {
  display: flex;
}
.user {
  justify-items: center;
  align-self: stretch;
  font-size: var(--open-sans-semibold-16-size);
  color: var(--color-gray-700);
  font-family: var(--open-sans-semibold-14);
}
.pageTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.header {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  max-width: 100%;
}
@media screen and (max-width: 700px) {
  .pageTitle {
    font-size: var(--font-size-lgi);
  }
  .user {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .graphContainerParent {
    flex-wrap: wrap;
  }
}
