.frameChild {
  width: 1171px;
  height: 1024px;
  position: relative;
  background-color: var(--fa-white);
  display: none;
  max-width: 100%;
}
.pageTitle {
  display: inline-block;
  min-width: 128px;
}
.pageTitle {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  z-index: 1;
}

.calendarIcon {
  position: relative;
  z-index: 1;
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.oct112023 {
  font-weight: 600;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  background-color: rgba(115, 103, 240, 1);
  height: 35px;
  width: 35px;
  border-radius: 100px;
}
.user,
.header {
  display: flex;
  align-items: center;
}
.user {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-5xs-8);
  font-size: var(--open-sans-semibold-16-size);
  color: var(--color-gray-700);
  font-family: var(--open-sans-semibold-14);
}
.header {
  width: 1111px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-11xs);
  flex-shrink: 0;
  max-width: 100%;
}
@media screen and (max-width: 700px) {
  .pageTitle {
    font-size: var(--font-size-lgi);
  }
  .user {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .graphContainerParent {
    flex-wrap: wrap;
  }
}
