.frameChild {
  align-self: stretch;
  width: 1171px;
  position: relative;
  background-color: var(--fa-white);
  display: none;
  max-width: 100%;
}
.container {
  width: 1098px;
  border-radius: var(--br-base);
  background-color: var(--pure-white);
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-sm) var(--padding-mini);
  box-sizing: border-box;
  gap: 47px;
  max-width: 100%;
  z-index: 1;
}
.container,
.productsDetail,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent {
  flex: 1;
  background-color: var(--fa-white);
  justify-content: flex-end;
  padding: 0 var(--padding-11xl) var(--padding-mid);
  box-sizing: border-box;
  max-width: calc(100% - 269px);
  flex-shrink: 0;
}
.productsDetail {
  width: 100%;
  position: relative;
  background-color: var(--pure-white);
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 925px) {
  .container {
    flex-wrap: wrap;
  }
  .rectangleParent {
    max-width: 100%;
  }
  .productsDetail {
    padding-left: var(--padding-4xs);
    padding-right: var(--padding-4xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .container {
    gap: 23px;
  }
}
